
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Usuarios</title>
    <!-- Enlace a Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ec8ea11f65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        /* Estilo personalizado para la sombra de la tabla */
        .table-shadow {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ajusta los valores según prefieras */
            border: #6949f6;
        }

        .has-background-danger td {
            color: white; /* Hace que el texto sea blanco */
        }

        
        .has-background-danger {
            border: 2px solid #000000; /* Cambia el color del borde según tu preferencia */
        }

        .table-shadow td,
        .table-shadow th {
            border-right: 2px solid #000000; /* Color del borde vertical */
        }


        /* Estilo personalizado para cambiar el color de los botones */
        .custom-button {
            background-color: #F649D0;
            color: white;
            transition: background-color 0.3s ease; /* Transición suave del color de fondo */
        }

        /* Cambia el color de fondo cuando se pasa el cursor sobre el botón */
        .custom-button:hover {
            background-color: #F8C9EE; /* Cambia el color a un tono más claro */
            color: white;
        }

        .notification-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000; 
        }

        .control {
            border: 2px solid #000000; /* Color del contorno (rojo en este caso) */
            border-radius: 5px; /* Ajusta el radio de borde según sea necesario */
        }
    </style>
</head>
<body>
    <%- include('includes/naveside.ejs', {roles: roles}) %>
        <div class="main-content">
            <div class="columns">
                <section class="section">
                    <div class="container">
                        <div class="notification-container">
                            <% if (message) { %>
                                <div class="notification is-success">
                                    <%= message %>
                                    <button class="delete" aria-label="delete"></button>
                                </div>
                            <% } %>
                        </div>
                        <h1 class="title">Consultar Usuarios</h1>
                        <div class="columns">
                            <div class="column is-right">
                                <div class="buttons">
                                    <a href="/usuarios/signupusuario">
                                        <span class="button is-info">
                                            <span class="icon">
                                                <i class="fa-solid fa-user"></i>
                                            </span>
                                            <span class="file-label">
                                                Registrar nuevo usuario
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table class="table is-bordered is-striped is-fullwidth table-shadow">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>ID</th>
                                    <th class="is-narrow">Acciones</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <% usuario.forEach(user => { %>
                                    <% const rowClass = user.Habilitado === 0 ? 'has-background-danger' : ''; %>                         
                                    <tr class="<%= rowClass %>">
                                        <td><%= user.nombre_usuario %></td>
                                        <td><%= user.Correo %></td>
                                        <td><%= user.Celular %></td>
                                        <td><%= user.IDUsuario %></td>
                                        <td class="is-narrow">
                                            <form id="deleteForm_<%= user.IDUsuario %>" action="/usuarios/delete-usuario" method="POST">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="hidden" name="nombre" value="<%= user.nombre_usuario %>">
                                                <input type="hidden" name="id" value="<%= user.IDUsuario %>">
                                                <div class="field is-grouped">
                                                    <div class="control">
                                                        <button class="button is-info is-focused" type="submit" onclick="return confirm('¿Estás seguro de que deseas modificar este usuario?')">Modificar Usuario</button>
                                                    </div>
                                                    <% if(user.Habilitado == 0){ %>
                                                        <div class="control">
                                                            <button class="button is-primary is-dark" type="button" onclick="confirmReactivate('<%= user.IDUsuario %>')">Reactiva usuario</button>
                                                        </div>
                                                    <% } else { %>
                                                        <div class="control">
                                                            <button class="button is-danger is-dark" type="button" onclick="confirmDelete('<%= user.IDUsuario %>')">Desactivar Usuario</button>
                                                        </div>
                                                    
                                                    <% } %>
                                                    
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>

        <script>
            function confirmDelete(userId) {
                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "Puedes revertir la decisión después",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminarlo"
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById("deleteForm_" + userId).submit();
                    }
                });
            }

            function confirmReactivate(userId) {
                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "Puedes revertir la decisión después",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, reactivalo"
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = document.getElementById("deleteForm_" + userId);
                        form.action = "/usuarios/reactivate-usuario"; 
                        form.submit();
                    }
                });
            }

            document.addEventListener('DOMContentLoaded', function () {
                const notifications = document.querySelectorAll('.notification');

                notifications.forEach(notification => {
                    const closeButton = notification.querySelector('.delete');

                    closeButton.addEventListener('click', function () {
                        notification.remove(); 
                    });

                    setTimeout(function () {
                        notification.remove(); 
                    }, 5000);
                });
            });
        </script>
</body>
</html>
