<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Leads</title>
    <!-- Enlace a Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ec8ea11f65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        /* Estilo personalizado para la sombra de la tabla */
        .table-shadow {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ajusta los valores según prefieras */
            border: #6949f6;
        }

        .has-background-danger td {
            color: white; /* Hace que el texto sea blanco */
        }

        
        .has-background-danger {
            border: 2px solid #000000; /* Cambia el color del borde según tu preferencia */
        }

        .table-shadow td,
        .table-shadow th {
            border-right: 2px solid #000000; /* Color del borde vertical */
        }


        /* Estilo personalizado para cambiar el color de los botones */
        .custom-button {
            background-color: #F649D0;
            color: white;
            transition: background-color 0.3s ease; /* Transición suave del color de fondo */
        }

        /* Cambia el color de fondo cuando se pasa el cursor sobre el botón */
        .custom-button:hover {
            background-color: #F8C9EE; /* Cambia el color a un tono más claro */
            color: white;
        }

            /* Establecer una altura fija para el cuerpo de la tabla */
        .table-body {
            max-height: 700px; /* Establece aquí la altura máxima deseada */
            overflow-y: auto; /* Agrega scroll vertical si el contenido excede la altura */
        }

        .notification-container {
            position: fixed;
            bottom: 50px; /* Distancia desde la parte inferior */
            right: 20px; /* Distancia desde el borde derecho */
            max-width: 300px; /* Anchura máxima del contenedor */
            transform: translate(0, 0); /* Ajuste de posición */
            z-index: 1000; 
        }

        .control {
            border: 2px solid #000000; /* Color del contorno (rojo en este caso) */
            border-radius: 5px; /* Ajusta el radio de borde según sea necesario */
        }
    </style>
</head>

<body>
    <%- include('includes/naveside.ejs', {roles: roles}) %>
        <div class="main-content">
            <div class="column">
                <div class="section">
                    <div class="container">
                        <h1 class="title">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-circle-user has-text-black"></i>
                                </span>
                                <span>Perfil</span>
                            </span>
                        </h1>
                    </div>
                    
                    
                    
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <tr>
                                <th>Nombre Usuario</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= username %></td>
                                <td><%= correo %></td>
                                <td><%= telefono %></td>
                                <td><%= roles[0].Descripcion_Rol %></td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <div class="is-flex" style="justify-content: space-between;">
                    
                        <div class="buttons">
                            <a id="mostrarFormulario" class="button is-info">Contraseña</a>
                        </div>

                    </div>
                    
                    <div id="cambiarContraseña" class="is-hidden">
                        <form action="/usuarios/cuenta/cambiar-contrasenia" method="POST" onsubmit="return validarContraseñas()"">
                            <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
                            <div class="field">
                                <label class="label">Contraseña actual</label>
                                <p class="control has-icons-left">
                                    <input class="input" type="password" id="contraseniaActual" name="contraseniaActual" required placeholder="Mi contraseña actual">
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Nueva contraseña</label>
                                <p class="control has-icons-left">
                                  <input class="input" type="password" id="nuevaContrasenia" name="nuevaContrasenia" required placeholder="Mi nueva contraseña">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                  </span>
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Confirmar contraseña</label>
                                <p class="control has-icons-left">
                                  <input class="input" type="password" id="confirmarContrasenia" name="confirmarContrasenia" required placeholder="Mi nueva contraseña">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                  </span>
                                </p>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                  <input class="button is-success" type="submit" value="Cambiar contraseña">
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
            <div class="notification-container mb-4">
                <% if (successMessage) { %>
                    <div class="notification is-success">
                        <strong><%= successMessage %></strong>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                <% } else if (errorMessage) { %>
                    <div class="notification is-danger">
                        <strong><%= errorMessage %></strong>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                <% } else if (error) { %>
                    <div class="notification is-danger">
                        <strong><%= error %></strong>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                <% } %>
            </div>
    
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const notifications = document.querySelectorAll('.notification');

            notifications.forEach(notification => {
                const closeButton = notification.querySelector('.delete');

                closeButton.addEventListener('click', function () {
                    notification.remove(); 
                });

                setTimeout(function () {
                    notification.remove(); 
                }, 60000);
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const mostrarFormularioBtn = document.getElementById('mostrarFormulario');
            const cambiarContraseñaDiv = document.getElementById('cambiarContraseña');

            mostrarFormularioBtn.addEventListener('click', function () {
            if (cambiarContraseñaDiv.classList.contains('is-hidden')) {
                cambiarContraseñaDiv.classList.remove('is-hidden');
            } else {
                cambiarContraseñaDiv.classList.add('is-hidden');
            }
            });
        });

        function validarContraseñas() {
            var contrasena = document.getElementById("nuevaContrasenia").value;
            var confirmarContrasena = document.getElementById("confirmarContrasenia").value;

            if (contrasena !== confirmarContrasena) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Las contraseñas no coinciden.",
                    footer: '<a href="#">¿Por qué tengo este problema?</a>'
                });
                return false; 
            }
            return true; 
        }
    </script>
</body>
</html>