<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Lead - <%= lead.Nombre %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://kit.fontawesome.com/ec8ea11f65.js" crossorigin="anonymous"></script>
    <style>
        /* Estilos para el formulario */
        .main-content {
            padding: 2rem; /* Ajusta el espacio interior del contenedor principal */
        }

        .field {
            margin-bottom: 1.5rem; /* Ajusta el espacio entre los campos */
        }

        .title {
            margin-bottom: 2rem; /* Ajusta el espacio entre el título y el formulario */
        }
    </style>
</head>



<body>
    <%- include('includes/naveside.ejs') %>

    <div class="main-content">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title">Modificar Lead <%= lead.Nombre %></h1>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <a href="/leads" class="button is-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>

    <form action="/modificar-lead/<%= lead.IDLead %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="columns is-multiline">
        <div class="column is-one-third">

        <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
                <input class="input" type="text" name="Nombre" value="<%= lead.Nombre %>" placeholder="Nombre" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Correo</label>
            <div class="control">
                <input class="input" type="email" name="Correo" value="<%= lead.Correo %>" placeholder="Correo" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Compañía</label>
            <div class="control">
                <input class="input" type="text" name="Compania" value="<%= lead.Compania %>" placeholder="Compañía" required>

            <label class="label">Fecha del Primer Mensaje</label>
            <div class="control">
                <input class="input" type="date" name="Fecha_Primer_Mensaje" value="<%= lead.Fecha_Primer_Mensaje.toISOString().split('T')[0] %>" required>

            </div>
        </div>

    </div>
        <div class="field">
            <label class="label">Hora del Primer Mensaje</label>
            <div class="control">
                <!-- Ajusta el step para incluir segundos -->
                <input class="input" type="time" name="Hora_Primer_Mensaje" value="<%= lead.Hora_Primer_Mensaje %>" required step="1">
            </div>
        </div>
        <div class="field">
            <label class="label">Primer Mensaje</label>
            <div class="control">
                <textarea class="textarea" name="Primer_Mensaje" placeholder="Primer Mensaje"><%= lead.Primer_Mensaje %></textarea>

            </div>
        </div>

    </div>


    <div class="column is-one-third">
        <div class="field">
            <label class="label">Fecha del Último Mensaje</label>
            <div class="control">
                <input class="input" type="date" name="Fecha_Ultimo_Mensaje" value="<%= lead.Fecha_Ultimo_Mensaje.toISOString().split('T')[0] %>" required>

            </div>
        </div>
        <div class="field">
            <label class="label">Hora del Último Mensaje</label>
            <div class="control">
                <!-- Ajusta el step para incluir segundos -->
                <input class="input" type="time" name="Hora_Ultimo_Mensaje" value="<%= lead.Hora_Ultimo_Mensaje %>" required step="1">
            </div>
        </div>
        <div class="field">
            <label class="label">Último Mensaje</label>
            <div class="control">
                <textarea class="textarea" name="Ultimo_Mensaje" placeholder="Último Mensaje"><%= lead.Ultimo_Mensaje %></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Teléfono</label>
            <div class="control">
                <input class="input" type="text" name="Telefono" value="<%= lead.Telefono %>" placeholder="Teléfono" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Valor</label>
            <div class="control">
                <input class="input" type="number" name="Valor" value="<%= lead.Valor %>" placeholder="Valor">
            </div>
        </div>
        <div class="field">
            <label class="label">Ganado</label>
            <div class="control">
                <input class="input" type="number" name="Ganado" value="<%= lead.Ganado %>" placeholder="Ganado">
            </div>
        </div>

    </div>

    <div class="column is-one-third">
        <div class="field">
            <label class="label">Etiqueta</label>
            <div class="control">
                <input class="input" type="text" name="Etiqueta" value="<%= lead.Etiqueta %>" placeholder="Etiqueta">
            </div>
        </div>

        <div class="field">
            <label class="label">Estado Lead</label>
            <div class="control">
                <input class="input" type="text" name="Estado_Lead" value="<%= lead.Estado_Lead %>" placeholder="Estado Lead">
            </div>
        </div>
        <div class="field">
            <label class="label">Seller Asignado</label>
            <div class="control">
                <input class="input" type="text" name="Seller_Asignado" value="<%= lead.Seller_Asignado %>" placeholder="Seller Asignado">
            </div>
        </div>


        <div class="field">
            <label class="label">Embudo</label>
            <div class="control">
                <input class="input" type="text" name="Embudo" value="<%= lead.Embudo %>" placeholder="Embudo">
            </div>
        </div>
        <div class="field">
            <label class="label">Etapa</label>
            <div class="control">
                <input class="input" type="text" name="Etapa" value="<%= lead.Etapa %>" placeholder="Etapa">
            </div>
        </div>
        <div class="field">
            <label class="label">Archivado</label>
            <div class="control">
                <input class="input" type="text" name="Archivado" value="<%= lead.Archivado %>" placeholder="Archivado">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">Actualizar Cambios</button>
            </div>
        </div>

    </div>
    </form>
  </div>
</div>
</body>
</html>
